@model dotNetAcademy.ViewModels.RoomFiltersModel

@{
    var cities = ViewData["Cities"] as IEnumerable<string>;
    var roomTypes = ViewData["RoomTypes"] as IEnumerable<RoomType>;
}

<form method="get" asp-controller="Hotels" asp-action="Search" onsubmit="return formValidation()" autocomplete="off">
    <div class="search-box form-primary">

        <select id="city"
                class="inp-primary"
                asp-for="City"
                asp-items="@(new SelectList(cities))">
            <option value="" hidden disabled selected>
                City
            </option>

        </select>

        <select id="roomtype"
                class="inp-primary"
                asp-for="RoomTypeId"
                asp-items="@(new SelectList(roomTypes, "Id", "RoomType1"))">
            <option value="" hidden disabled selected>
                Room Type
            </option>

        </select>

        @*<input id="das"
               type="number" />
        <input id="tre"
               type="number" />*@

        <input id="checkin"
               class='datepicker-here'
               type='text'
               asp-for="CheckIn"
               data-language='en'
               placeholder="Check In" />

        <input id="checkout"
               class='datepicker-here'
               type='text'
               asp-for="CheckOut"
               data-language='en'
               placeholder="Check Out" />

        <button class="btn btn-primary" type="submit" value="Submit">Search</button>

        <div id="search-errors">
            <span asp-validation-for="City"></span>
            <span asp-validation-for="RoomTypeId"></span>
            <span asp-validation-for="CheckIn"></span>
            <span asp-validation-for="CheckOut"></span>
        </div>

    </div>
</form>