@model dotNetAcademy.ViewModels.RoomFiltersViewModel

@{
    ViewData["Title"] = "Login";
}

@section Css {
    <link href="@Url.Content("~/css/home/login.css")" rel="stylesheet" />
}

@section Scripts {
    <script src="@Url.Content("~/js/home/login.js")"></script>
}




@*<form action='@Url.Action("Search", "Hotels", null, null)' onsubmit="return formIsValid()">*@
    <form method="get" onsubmit="return formIsValid()">
        <div class="login-box form-primary">

            <input id="username"
                   type='username'
                   placeholder="username"
                   autocomplete="off" />

            <input id="passoword"
                   type='password'
                   placeholder="password"
                   autocomplete="off" />

            <button class="btn btn-primary" type="submit" value="Submit">Login</button>

        </div>
    </form>
