@model dotNetAcademy.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@section Css {
    <link href="@Url.Content("~/css/user/login.css")" rel="stylesheet" />
}

@section Scripts {
    <script src="@Url.Content("~/js/user/login.js")"></script>
}

<form method="post" asp-controller="User" asp-action="Login" onsubmit="return loginValidation()">
    <div class="login-box form-primary">

        <div class="field-with-error">
            <input id="username"
                    type='text'
                    asp-for="Username"
                    placeholder="username"
                    autocomplete="off" />
            <div class="field-error-msg">
                <span id="username-error" asp-validation-for="Username"></span>
            </div>
        </div>

        <div class="field-with-error">
            <input id="password"
                    type='password'
                    asp-for="Password"
                    placeholder="password"
                    autocomplete="off" />
            <div class="field-error-msg">
                <span id="password-error" asp-validation-for="Password"></span>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" value="Submit">Login</button>

    </div>
</form>
