@model dotNetAcademy.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@section Css {
    <link href="@Url.Content("~/css/user/login.css")" rel="stylesheet" />
}

@section Scripts {
    <script src="@Url.Content("~/js/user/login.js")"></script>
}




@*<form action='@Url.Action("Search", "Hotels", null, null)' onsubmit="return formIsValid()">*@
@*<form method="get" onsubmit="return formIsValid()">*@
    <form method="post" asp-controller="User" asp-action="Login" onsubmit="return formIsValid()">
        <div class="login-box form-primary">

            <input id="username"
                   type='text'
                   asp-for="Username"
                   placeholder="username"
                   autocomplete="off" />

            <input id="passoword"
                   type='password'
                   asp-for="Password"
                   placeholder="password"
                   autocomplete="off" />

            <button class="btn btn-primary" type="submit" value="Submit">Login</button>

        </div>
    </form>
