
#main-wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px;
}

.room-line {
    height: 1px;
    background-color: #cccccc;
    margin: 15px 0;
}

.room-inpage-title {
    margin: 30px 0 10px 0px;
    padding: 0px 15px;
    font-size: 1.2em;
    font-weight: 999;
    white-space: nowrap;
    border-bottom: 1px solid #cccccc;
}

    .room-inpage-title .room-rate {
        text-transform: uppercase;
        font-size: 1em;
    }

i.yellow {
    font-size: 0.9em;
    display: inline;
    color: #f1c40f;
}

/* ==========================================================================
   Header 
   ========================================================================== */
.room-header {
    margin: 15px 0 0 0;
    padding: 0px 5px;
}

.room-title {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    white-space: nowrap;
}


.room-location {
    text-transform: uppercase;
    font-size: 0.9em;
    white-space: nowrap;
}

.room-rate {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 999;
}

.room-pricing {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 999;
    float: right;
}

/* ==========================================================================
   image 
   ========================================================================== */

.room-image {
    width: 100%;
}

.room-image img {
    display: block;
    margin: 15px auto;
    max-width: 100%;
}




/* ==========================================================================
   Features
   ========================================================================== */
.room-features {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
}

.room-feature {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

/* ==========================================================================
   Text and map
   ========================================================================== */
.room-map {
    height: 300px;
}

.room-text {
    font-size: 0.9em;
}

.room-booking {
    margin: 15px 0;
}

/* ==========================================================================
   Reviews
   ========================================================================== */
.room-reviews {
    margin-top: 25px;
}

.room-review {
    margin: 10px 0;
    padding: 5px 15px;
    border-left: 3px solid var(--main-accent-color);
}

.room-review:hover {
    background-color: #dddddd;
}

.room-review:hover {
    background-color: #dddddd;
}

.review-stars i {
    color: var(--main-accent-color);
}
.review-stars i.yellow {
    color: #f1c40f;
}
.review-stars i.grey {
    color: #dddddd;
}

.review-text {
    font-size: 0.9em;
}

.review-header {
    display: block;
    width: 100%;
}

.review-user {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
}
.review-timestamp {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 7px;
}