

.form-primary input,
.form-primary select {
    box-sizing: border-box;
    outline: none;
    height: 40px;
    font-family: var(--txt-font-family);
    font-size: 1em;
    text-align: center;
    text-align-last: center;
    border: none;
    padding: 0 15px;
    border-radius: 3px;
    font-family: var(--txt-font-family);
    font-size: 1em;
    color: var(--main-txt-color);
    background-color: #ffffff;
    border: 1px solid var(--secondary-txt-color);
    box-shadow: none;
}

.form-primary textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    outline: none;
    height: 100px;
    font-family: var(--txt-font-family);
    font-size: 1em;
    border: none;
    /*padding: 0 15px;    */
    border-radius: 3px;
    font-family: var(--txt-font-family);
    font-size: 1em;
    color: var(--main-txt-color);
    background-color: #ffffff;
    border: 1px solid var(--secondary-txt-color);
    box-shadow: none;
}

.form-primary div.inp-primary {
    box-sizing: border-box;
    outline: none;
    height: 40px;
    font-family: var(--txt-font-family);
    font-size: 1em;
    text-align: center;
    text-align-last: center;
    border: none;
    padding: 0 15px;
    border-radius: 3px;
    font-family: var(--txt-font-family);
    font-size: 1em;
    color: var(--main-txt-color);
    background-color: #ffffff;
    box-shadow: none;
}

.form-primary input:hover,
.form-primary textarea:hover,
.form-primary select:hover {
    background-color: #eeeeee;
}

.form-primary input:focus,
.form-primary textarea:focus,
.form-primary select:focus {
    border: 1px solid var(--main-accent-color);
}

.form-primary input::placeholder,
.form-primary textarea::placeholder,
.form-primary select::placeholder {
    color: var(--disabled-txt-color);
}

.form-primary input::-webkit-input-placeholder,
.form-primary textarea::-webkit-input-placeholder,
.form-primary select::-webkit-input-placeholder {
    color: var(--disabled-txt-color);
}

.form-primary input:-ms-input-placeholder,
.form-primary textarea:-ms-input-placeholder,
.form-primary select:-ms-input-placeholder {
    color: var(--disabled-txt-color);
}

.form-primary input::-ms-input-placeholder,
.form-primary textarea::-ms-input-placeholder,
.form-primary select::-ms-input-placeholder {
    color: var(--disabled-txt-color);
}

/*.form-primary select:invalid {*/
.form-primary select:required:invalid {
    color: var(--disabled-txt-color);
}

.form-primary option[value=""][disabled] {
    display: none;
}

.form-primary option {
    color: var(--main-txt-color);
}

/*.form-primary select:invalid {*/
.form-primary select:required:invalid {
    color: var(--disabled-txt-color);
}



.form-primary select:disabled {
    color: var(--disabled-txt-color);
}


.form-primary input:read-only,
.form-primary input:read-only:hover {
    background-color: #cccccc;
}

/* ==========================================================================
   Button
   ========================================================================== */

button.btn {
    box-sizing: border-box;
    outline: none;
    height: 40px;
    font-family: var(--txt-font-family);
    font-size: 1em;
    text-align: center;
    border: none;
    padding: 0 15px;
    border-radius: 3px;
    letter-spacing: 1px;
    font-weight: normal !important;
    transition: box-shadow 0.2s;
    cursor: pointer;
}


.btn-primary {
    background-color: var(--main-accent-color);
    color: #ffffff;
}

    .btn-primary:hover {
        background-color: var(--main-accent-color-dark);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .btn-primary:active {
        background-color: var(--main-accent-color-dark);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    }

.btn-secondary {
    background-color: var(--secondary-accent-color);
    color: #ffffff;
}

    .btn-secondary:hover {
        background-color: var(--secondary-accent-color-dark);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .btn-secondary:active {
        background-color: var(--secondary-accent-color-dark);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    }

.btn-error {
    background-color: var(--error-accent-color);
    color: #ffffff;
}

    .btn-error:hover {
        background-color: var(--error-accent-color-dark);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .btn-error:active {
        background-color: var(--error-accent-color-dark);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    }



.btn-primary.disabled {
    background-color: var(--disabled-color);
    color: #ffffff;
}

    .btn-primary.disabled:hover {
        background-color: var(--disabled-color);
        box-shadow: none;
    }

    .btn-primary.disabled:active {
        background-color: var(--disabled-color);
        box-shadow: none;
    }

/* ==========================================================================
   Errors
   ========================================================================== */

.form-primary input.invalid-input,
.form-primary textarea.invalid-input,
.form-primary select.invalid-input {
    border: 1px solid #e74c3c;
    /*box-shadow: 0 0 0 1px #e74c3c;*/
    background-color: rgb(255,235,235);
}

.field-with-error {
}


.form-primary .field-with-error > * {
    width: 100%;
}

.field-error-msg > span {
    font-size: 0.7em;
    color: #e74c3c;
}

/* ==========================================================================
   Slider
   ========================================================================== */

.field-slider-group {
}

.field-slider-group .field-slider .slider-box {
    margin: 5px 10px;
}

.field-slider-group .slider-values {
    font-size: 0.9em;
    width: 100%;
    height: 20px;
}

.field-slider-group .slider-values .min {
    position: relative;
    float: left;
}

.field-slider-group .slider-values .max {
    position: relative;
    float: right;
}

.field-slider-group .slider-values .amount {
    font-size: 1em;
    font-weight: bold;
    color: var(--main-accent-color);
}


/* ==========================================================================
   Rating
   ========================================================================== */
.form-primary > .rating-input {
    box-sizing: border-box;
    height: 30px;
    vertical-align: middle;
    /*display:inline-block;*/
}

.rating-input > i.rating-star {
    color: #dddddd;
    cursor: pointer;
}
.rating-input i.rating-star.selected {
    color: #f1c40f;
}

.rating-input:hover > i.rating-star {
    color: #cca50a;
}
.rating-input > i.rating-star:hover ~ i.rating-star {
    color: #dddddd;
}
