@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Karla);



:root {
    --main-bg-color: #ffffff;
    --secondary-bg-color: #2F2F2F;
    --main-color: #ffffff;
    --secondary-color: #2F2F2F;
    --main-txt-color: #555555;
    --secondary-txt-color: #aaaaaa;
    --disabled-txt-color: #cccccc;
    --main-accent-color: #f39c12;
    --main-accent-color-dark: #e67e22;
    --secondary-accent-color: #bbbbbb;
    --secondary-accent-color-dark: #aaaaaa;
    --error-accent-color: #e74c3c;
    --error-accent-color-dark: #c0392b;
    --disabled-color: #aaaaaa;
    --txt-font-family: 'Poppins', sans-serif;
}
